body {
  margin: 0;
  padding: 0;
  background-color: #a0deff;
}

.container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxes {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  border-radius: 15px;
  background-color: #caf4ff;
  box-shadow: 0 0 0.3rem black;
  font-size: 7vmin;
  color: #002279a9;
  cursor: pointer;
}

.reset {
  margin-top: 50px;
  border-radius: 5px;
  height: 40px;
  width: 80px;
  font-size: 20px;
  background-color: #00939d31;
  cursor: pointer;
}

.gameBody {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 320px;
}

#h1 {
  font-size: 40px;
  font-weight: 300;
  color: black;
}
